@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #30383f;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0;
}

.navbar .container {
    color: #fff;
    padding: 15px;
}

.navbar .container .brand {
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: lighter;
}

.navbar .container .brand span {
    font-weight: 500;
}

.navbar .container .profile {
    display: flex;
    /* width: 130px; */
    /* background-color: rgb(153, 99, 24); */
    justify-content: space-between;
    align-items: center;
}

.navbar .container .profile .icon{
    font-size: 25px;
}

.navbar .container .profile .cart {
    position: relative;
}

.navbar .container .profile .cart-count {
    font-style: normal;
    font-size: 13px;
    position: absolute;
    /* background-color: red; */
    top: -10px;
    right: -23px;
    font-family: 'Poppins';
}

.navbar .container .profile h3{
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 300;
    padding: 0;
    margin: 0;
    margin-right:15px;
}



.main {
    background-color: #fff;
    border-radius: 0;
    margin-bottom: 0;
    padding: 25px 15px 55px 15px;
}

.main .container .row .cols {
    padding: 25px 15px;
    margin: 25px 0;
    max-height: 400px;
    transition: .25s ease;
}

.main .container .row .cols:hover {
    transform: translateY(-10px);
}

.main .container .row .cols a {
    text-decoration: none;
    color: #30383f;
}

.main .container .row .imgbox {
    width: 100%;
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main .container .row .imgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .container .row .imgbox .price {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    padding: 10px 15px;
    text-align: center;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.main .container .row .imgbox .price p {
    padding: 0;
    margin: 0;
}

.product {
    margin-bottom: 0;
    border-radius: 0;
    padding: 25px;
    background-color: #fff;
}

.product .container {
    max-width: 1000px;
}

.product .container .row .cols:nth-child(1){
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    padding: 0 35px;
}

.product .container .row .cols:nth-child(1) .imgbox {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product .container .row .cols:nth-child(1) .imgbox img {
    width: 100%;
    height: 100%;
}

.product .container .row .cols:nth-child(2){
    /* background-color: pink; */
    padding: 30px 25px;
}

.product .container .row .cols:nth-child(2) .content .title {
    font-family: 'Poppins';
    font-size: 35px;
    font-weight: 600;
    color: #404549;
    margin-bottom: 0;
}

.product .container .row .cols:nth-child(2) .content .author {
    margin-top: 5px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    color: #5c6268;
    margin-bottom: 0;
}

.product .container .row .cols:nth-child(2) .content .qty {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    color: #5c6268;
    margin-bottom: 10px;
}

.product .container .row .cols:nth-child(2) .content .pricelabel {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    color: #5c6268;
    margin-bottom: 0;
    margin-top: 15px;
}

.product .container .row .cols:nth-child(2) .content .desc {
    margin-top: 10px;
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: #73777c;
    margin-bottom: 0;
}

.product .container .row .cols:nth-child(2) .content .price {
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 600;
    color: #d10f0f;
    margin: 0;
    /* margin-top: 15px; */
}

.product .container .row .cols:nth-child(2) .content .price span{
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    color: #777f85;
    margin-bottom: 0;
    /* margin-top: 15px; */
}

.product .container .row .cols:nth-child(2) .content .addtocart {
    margin-top: 20px;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: #333333; /*#ff8800*/
    border: none;
    padding: 10px 25px;
    transition: .25s ease;
}

.product .container .row .cols:nth-child(2) .content .cancel {
    /* margin-left: 15px; */
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 700;
    color: #333333;
    background-color: #fff;
    padding: 8px 25px;
    border: none;
    /* border: 2px solid #ff8800; */
    transition: .2s ease;
}

.product .container .row .cols:nth-child(2) .content .addtocart:hover {
    box-shadow: rgba(50, 50, 93, 0.3) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.product .container .row .cols:nth-child(2) .content .outof {
    margin-top: 20px;
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 700;
    color: #d10f0f;
    /* text-shadow: 0px 2px 4px rgba(62, 62, 70, 0.445); */
}




.login {
    margin-bottom: 0;
    border-radius: 0;
    height: 100vh;
}

.login .container {
    background-color: #fff;
    width: 430px;
    padding: 25px 45px 15px 45px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login .container h2 {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 28px;
    color: #30383f;
    margin: 0 0 20px 0;
}

.login .container form {
    padding: 25px 0 0 ;
}

.login .container .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    margin-top: 10px;
}
.login .container .wrapper label {
    font-family: 'poppins';
    font-size: 15px;
    margin: 0;
    padding: 0;
    margin-right: 15px;
    /* background-color: red; */
}

.login .container .wrapper .input {
    border: none;
    outline: none;
    padding: 8px;
    font-size: 14px;
    font-family: 'poppins';
    background-color: #f1f1f1;
    color: #5c6268;
    width: 240px;
}
.login .container .wrapper:nth-last-child(1) {
    justify-content: center;
    align-items: center;
}
.login .container .wrapper .loginbtn {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    background-color: #30383f;
    color: #fff;
    font-family: 'poppins';
    font-weight: 500;
    transition: .1s ease;
}
.login .container .wrapper .loginbtn:hover {
    background-color: #404a53;
}

.login .container .link {
    text-align: center;
    margin: 30px 0 0 0;
    font-size: 14px;
}

.login .container .link a {
    color: #0056b3;
}